<!Doctype html>
<html app="myApp" lang="en">

<head>
  <meta charset="utf-8">
  <title>Immersive Session Testing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Immersive Session Testing Website">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>


  <script src="https://cdn.rawgit.com/konvajs/konva/2.0.2/konva.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">

  <link href="..\client\assets\css\main.css" rel="stylesheet">
  <link href="..\client\assets\css\footer.css" rel="stylesheet">
</head>

<body ng-app="ist">
  <div ng-controller="MainController">
    <div id="note"></div>
    <div id="container"></div>

    <div class="footer">
      <div class="container-fluid">
        <div class="row">

          <div class="jottings-dropup dropup col-md-4">

            <div class="jottings-up">
              <span>Jottings</span>
              <span class="jottings-up-icon fa fa-angle-up"></span>
            </div>

            <div class="footer-menu dropdown-menu col-md-12">

              <div class="jottings-dropdown-header dropdown-header">
                <span>Jottings</span>
                <span class="jottings-down-icon fa fa-angle-down"></span>
              </div>

              <div class="footer-menu-content">
                <form ng-submit="addJotting()">
                  <input type="text" ng-model="jotting" size="38">
                  <input class="btn btn-info" type="submit" value="Add">
                </form>

                <ul>
                  <li ng-repeat="jotting in project.jottings track by $index">
                    <span>{{jotting}}</span>
                  </li>
                </ul>
              </div>

            </div>

          </div>

          <div class="notes-dropup dropup col-md-4">

            <div class="notes-up">
              <span>Notes</span>
              <span class="notes-up-icon fa fa-angle-up"></span>
            </div>

            <div class="footer-menu dropdown-menu col-md-12">

              <div class="notes-dropdown-header dropdown-header">
                <span>Notes</span>
                <span class="notes-down-icon fa fa-angle-down"></span>
              </div>

              <div class="footer-menu-content">
                <form ng-submit="addNote()">
                  <input type="text" ng-model="note" size="38">
                  <input class="btn btn-info" type="submit" value="Add">
                </form>

                <ol>
                  <li ng-repeat="note in project.notes track by $index">
                    <span>{{note}}</span>
                  </li>
                </ol>
              </div>

            </div>

          </div>

          <div class="questions-dropup dropup col-md-4">

            <div class="questions-up">
              <span>Questions</span>
              <span class="questions-up-icon fa fa-angle-up"></span>
            </div>

            <div class="footer-menu dropdown-menu col-md-12">

              <div class="questions-dropdown-header dropdown-header">
                <span>Questions</span>
                <span class="questions-down-icon fa fa-angle-down"></span>
              </div>

              <div class="footer-menu-content">
                <form ng-submit="addQuestion()">
                  <input type="text" ng-model="question" size="38">
                  <input class="btn btn-info" type="submit" value="Add">
                </form>

                <ol>        
                  <li ng-repeat="question in project.questions track by $index">
                    <span class="is-checked-{{question.isChecked}}">{{question.text}}</span>
                    <input type="checkbox" ng-model="question.isChecked">
                  </li>
                </ol>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- JS files -->
  <script src="..\client\app\config.settings.js"></script>

  <script src="..\client\app\project.js"></script>

  <script src="..\client\app\session.js"></script>
  <script src="..\client\app\session.view.js"></script>
  <script src="..\client\app\session.header.view.js"></script>
  <script src="..\client\app\session.board.view.js"></script>
  <script src="..\client\app\session.controller.js"></script>

  <script src="..\client\app\workspace.js"></script>

  <script src="..\client\app\level.js"></script>
  <script src="..\client\app\level.view.js"></script>
  <script src="..\client\app\level.header.view.js"></script>
  <script src="..\client\app\level.board.view.js"></script>
  <script src="..\client\app\section.area.js"></script>
  <script src="..\client\app\level.controller.js"></script>

  <script src="..\client\app\section.js"></script>
  <script src="..\client\app\section.model.js"></script>
  <script src="..\client\app\section.view.js"></script>
  <script src="..\client\app\section.header.view.js"></script>
  <script src="..\client\app\section.board.view.js"></script>
  <script src="..\client\app\board.js"></script>
  <script src="..\client\app\note.form.js"></script>
  <script src="..\client\app\section.controller.js"></script>

  <script src="..\client\app\app.js"></script>

  <script src="..\client\app\footer.js"></script>
</body>

</html>