body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 16px !important;
    font-weight: lighter !important;
    font-family: Roboto, sans-serif !important;
    background: #e9ecef;
}

header.header-main {
    max-height: 55px !important;
    height: 55px;
    padding: 5px 15px;
    display: block;
    background-color: antiquewhite;
    border-bottom: 1px solid lightgrey;
}

section.workspace-main {
    max-height: calc(100vh - 85px) !important;
    height: calc(100vh - 85px);
}

footer.footer-main {
    max-height: 30px !important;
    height: 30px;
    font-size: 14px !important;
    font-family: inherit;
}

#container {
    height: 100%;
}

.icon {
    font-size: 16px !important;
    cursor: pointer;
    line-height: inherit;
    vertical-align: middle;
}

.icon.disabled {
    color: #b1b2b4;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}