#note>.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}

#note label {
    width: 40%;
}

#note input[type="text"], #note input[type="number"], #note select {
    display: inline-block;
    max-width: 60%;
    border: none;
    box-shadow: none;
    outline: none !important;
}

#note input[type="text"]:focus, #note input[type="number"]:focus, #note select:focus {
    border: none;
    box-shadow: none;
    outline: none !important;
}

#note .accordion {
    width: 100%;
    padding: 0 10px;
    text-align: left;
    line-height: 30px;
    cursor: pointer;
    border: none;
    outline: none !important;
    transition: 0.4s;
}

#note .active, .accordion:hover {
    background-color: #ccc;
}

#note .panel {
    max-height: 0;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    transition: max-height 0.4s ease-out;
}

#note .panel>textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: none;
    box-shadow: none;
    outline: none !important;
}

#note .panel>textarea:focus {
    border: none;
    box-shadow: none;
    outline: none !important;
}