
tbody {
    height: 120px;
    max-height: 120px;
    overflow-y: scroll;
    color: grey;
}

thead {
    width: calc( 100% - 1em);
    color: black;
}

tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}