<div class="wrapper-main">
  <header class="header-main">
    <div class="navbar">
      <ul class="nav navbar-left left-navbar">

        <li>
          <span class="hamburger-menu glyphicon glyphicon-menu-hamburger" ng-click="openNav()" data-toggle="modal"
            data-target="#myModal"></span>
        </li>
        <li class="imageStyle">
          <img class="user-image" src="./public/images/prfl-img.png" alt="User Image">
          <span>{{Name}}</span>
        </li>
        <li>
          <h4 class = "project-name">(Project Name)</h4>
        </li>
      </ul>
      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <i class="fa fa-hourglass-half iconStyle" aria-hidden="true"></i>
        </li>
        <li>
          <a data-brackets-id="5968" href="#" class="active">
            <i data-brackets-id="5969" class="fa fa-database iconStyle" aria-hidden="true"></i>
            <i data-brackets-id="5970" class="fa fa-user nvbr-tp-sb iconStyle" aria-hidden="true"></i>
          </a>
        </li>
        <li data-brackets-id="5971">
          <a data-brackets-id="5972" href="#" class="active">
            <i data-brackets-id="5973" class="fa fa-database iconStyle" aria-hidden="true"></i>
            <i data-brackets-id="5974" class="fa fa-globe nvbr-tp-sb-two iconStyle" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./public/images/logo.jpg" alt="logo" alt="img" style="width:45px; height:45px;">
          </a>
        </li>
      </ul>
    </div>
  </header>

  <div ng-show="isProjectOpen">
    <div id="note"></div>
    <div id="container"></div>

    <div class="footer">
      <div class="container-fluid">
        <div class="row">

          <div class="jottings-dropup dropup col-md-4">

            <div class="jottings-up">
              <span>Jottings</span>
              <span class="up-icon fa fa-angle-up"></span>
            </div>

            <div class="footer-menu dropdown-menu col-md-12">

              <div class="jottings-dropdown-header dropdown-header">
                <span>Jottings</span>
                <span class="down-icon fa fa-angle-down"></span>
              </div>

              <div class="footer-menu-content">
                <form ng-submit="addJotting()">
                  <input type="text" ng-model="jotting" placeholder="insert text here">
                </form>

                <ul>
                  <li ng-repeat="jotting in project.jottings track by $index">
                    <span>{{jotting}}</span>
                  </li>
                </ul>
              </div>

            </div>

          </div>

          <div class="notes-dropup dropup col-md-4">

            <div class="notes-up">
              <span>Notes</span>
              <span class="up-icon fa fa-angle-up"></span>
            </div>

            <div class="footer-menu dropdown-menu col-md-12">

              <div class="notes-dropdown-header dropdown-header">
                <span>Notes</span>
                <span class="down-icon fa fa-angle-down"></span>
              </div>

              <div class="footer-menu-content">
                <form ng-submit="addNote()">
                  <input type="text" ng-model="note" placeholder="insert text here">
                </form>

                <ol>
                  <li ng-repeat="note in project.notes track by $index">
                    <span>{{note}}</span>
                  </li>
                </ol>
              </div>

            </div>

          </div>

          <div class="questions-dropup dropup col-md-4">

            <div class="questions-up">
              <span>Questions</span>
              <span class="up-icon fa fa-angle-up"></span>
            </div>

            <div class="footer-menu dropdown-menu col-md-12">

              <div class="questions-dropdown-header dropdown-header">
                <span>Questions</span>
                <span class="down-icon fa fa-angle-down"></span>
              </div>

              <div class="footer-menu-content">
                <form ng-submit="addQuestion()">
                  <input type="text" ng-model="question.text" placeholder="insert text here">
                </form>

                <ol>
                  <li ng-repeat="question in project.questions track by $index">
                    <span class="is-checked-{{question.isChecked}}">{{question.text}}</span>
                    <input type="checkbox" ng-model="question.isChecked">
                  </li>
                </ol>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <span id="mySidenav" class="sidenav side-navbar">

        <a href="javascript:void(0)" class="pull-left close closebtn side-close-button" data-dismiss="modal" ng-click="closeNav()">&times;</a>
        <ul class="nav  nav-menu navbar-nav  menu-style side-menu-dropdown">
          <li class="dropdown-submenu firstlevel side-submenu-firstlevel">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-pencil-square padding-15" aria-hidden="true"></i>Project
            </a>
            <span class="dropdown-menu secondlevel">
              <h4 class="side-submenu-secondlevel"> Projects </h4>

              <div>
                <ul class="project submenu-secondlevel-dropdown">
                  <li class="dropdown-submenu secondlevel-dropdown-list" ng-repeat="x in projectArray">{{x.projectName}}
                    <ul class="dropdown-menu secondlevel submenu-thirdlevel-dropdown">
                      <li>
                        <input type="text" ng-model=x.projectName class="menu-text thirdlevel-dropdown-list"></input>
                      </li>
                      <li class="text-center thirdlevel-dropdown-sublist">
                        <select class="menu-text thirdlevel-sublist-dropdown">
                          <option value="Default">Default</option>
                          <option value="mobile">mobile</option>
                        </select>
                      </li>
                      <li>
                        <textarea placeholder="Project details" class="menu-text thirdlevel-textarea">{{x.projectDescription}}</textarea>
                      </li>

                      <li>
                        <button class="buttonSecondLevel thirdlevel-save-button"> Save </button>
                      </li>
                    </ul>
                  </li>
                </ul>

                <br>
                <div>
                  <select class="menu-text secondlevel-dropdown-sublist">
                    <option value="volvo">New</option>
                    <option value="saab">Clone</option>
                    <option value="saab">Modify</option>
                    <option value="saab">Delete</option>
                  </select>
                  <button class="buttonSecondLevel secondlevel-dropdown-okbtn"> Ok</button>
            </span>
          </li>
          </br>


          <li class="dropdown-submenu firstlevel firstlevel-sessions">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-file-text padding-15" aria-hidden="true"></i>Sessions
            </a>
            <ul class="dropdown-menu secondlevel">
              <li class="text-center secondMenu">Choose Project</li>
              <li class="text-center secondMenu">
                <select class="menu-text">
                  <option value="volvo">Standard</option>
                  <option value="saab">project 2</option>
                </select>
              </li>

              <li class="text-center secondMenu">Choose Session</li>
              <li class="text-center secondMenu">
                <select class="menu-text">
                  <option value="volvo">Reconnaissance</option>
                  <option value="saab">Search</option>
                </select>
              </li>

              <li class="text-center secondMenu ">Choose Duration</li>
              <li class="text-center secondMenu">
                <select class="menu-text">
                  <option value="volvo">45 Minutes</option>
                  <option value="saab">60 Minutes</option>
                  <option value="saab">90 Minutes</option>
                </select>
              </li>
              <br/>
              <button class="buttonSecondLevel sessions-secondlevel-startbutton" ng-click="startSession()">Start</button>
              <button class="buttonSecondLevel">Cancel</button>

            </ul>
          </li>
          </br>
          <li id="logout" class="dropdown-submenu firstlevel">
            <a href="/" data-dismiss="modal" class="dropdown-toggle" ng-click="logout()" data-toggle="dropdown">
              <i class="fa fa-sign-out padding-15" aria-hidden="true"></i>Logout


            </a>
        </ul>
      </span>
      </div>
      </div>
    </div>
  </div>
</div>