<div class="wrapper-main">
  <header class="header-main">
    <nav class="nav-bar">
      <div>
        <div id="menuToggle">
          <input type="checkbox" id="hamburgerCheckBox" />
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div>
        <img class="user-image" src="./public/images/prfl-img.png" alt="User Image">
      </div>
      <div>
        <span>{{userName}}</span>
      </div>
      <div>
        <h4 class="project-name">(Project Name)</h4>
      </div>
      <div>

      </div>
      <div>
        <i id="sessionTimer" class="fa fa-hourglass-start icon" ng-attr-title="{{timer.sessionTime}}"></i>
      </div>
      <div>
        <i class="fa fa-database icon"></i>
        <i class="fa fa-user user-icon icon"></i>
      </div>
      <div>
        <i class="fa fa-database icon"></i>
        <i class="fa fa-globe globe-icon icon"></i>
      </div>
      <div>
        <img class="stag-logo" src="./public/images/stag_logo_transparent.png" alt="logo">
      </div>
    </nav>
  </header>

  <section ng-show="isProjectOpen" class="workspace-main">
    <div id="note"></div>
    <div id="container"></div>
  </section>

  <footer ng-show="isProjectOpen" class="footer-main">
    <div class="jottings-dropup dropup col-md-4">

      <div class="jottings-dropup-header">
        <span>Jottings</span>
        <span class="up-icon fa fa-angle-up"></span>
      </div>

      <div class="footer-menu dropdown-menu col-md-12">

        <div class="jottings-dropdown-header">
          <span>Jottings</span>
          <span class="down-icon fa fa-angle-down"></span>
        </div>

        <div class="footer-menu-content">
          <form ng-submit="addJotting()">
            <input type="text" ng-model="jotting" placeholder="insert text here">
          </form>

          <ul>
            <li ng-repeat="jotting in project.jottings track by $index">
              <span>{{jotting}}</span>
            </li>
          </ul>
        </div>

      </div>

    </div>

    <div class="notes-dropup dropup col-md-4">

      <div class="notes-dropup-header">
        <span>Notes</span>
        <span class="up-icon fa fa-angle-up"></span>
      </div>

      <div class="footer-menu dropdown-menu col-md-12">

        <div class="notes-dropdown-header">
          <span>Notes</span>
          <span class="down-icon fa fa-angle-down"></span>
        </div>

        <div class="footer-menu-content">
          <form ng-submit="addNote()">
            <input type="text" ng-model="note" placeholder="insert text here">
          </form>

          <ol>
            <li ng-repeat="note in project.notes track by $index">
              <span>{{note}}</span>
            </li>
          </ol>
        </div>

      </div>

    </div>

    <div class="questions-dropup dropup col-md-4">

      <div class="questions-dropup-header">
        <span>Questions</span>
        <span class="up-icon fa fa-angle-up"></span>
      </div>

      <div class="footer-menu dropdown-menu col-md-12">

        <div class="questions-dropdown-header">
          <span>Questions</span>
          <span class="down-icon fa fa-angle-down"></span>
        </div>

        <div class="footer-menu-content">
          <form ng-submit="addQuestion()">
            <input type="text" ng-model="question.text" placeholder="insert text here">
          </form>

          <ol>
            <li ng-repeat="question in project.questions track by $index">
              <span class="is-checked-{{question.isChecked}}">{{question.text}}</span>
              <input type="checkbox" ng-model="question.isChecked">
            </li>
          </ol>
        </div>

      </div>

    </div>
  </footer>

  <div class="modal left fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <ul class="nav main-menu">

        <li>
          <a id="projectTitle">
            <i class="fa fa-pencil-square icon active"></i>
            <label>project</label>
          </a>
          <div class="project-menu">

            <table class="table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <input type="text" ng-model="selectedProjectInProjectsMenu.name" class="form-control input-text" placeholder="enter project name">
                  </th>
                  <th>
                    <select id="tempname" required ng-model="selectedProjectInProjectsMenu.templateName" ng-options="template for template  in tempName">{{template.name}}
                      <option disabled selected value="">choose template</option>
                    </select>
                  </th>
                  <th>
                    <input type="text" class="form-control input-text" ng-model="selectedProjectInProjectsMenu.description" placeholder="enter description">
                  </th>
                  <td>
                    <div class="project-menu-options">
                      <i></i>
                      <i id="add" class="fa fa-plus icon active" title="add new project" ng-hide="add" ng-click="addNewProject()"></i>
                      <i id="save" class=" fa fa-plus icon active" title="clone project" ng-show="clone" ng-click="addClonedProject()"></i>
                      <i id="mod" class="fa fa-plus icon active" title="save modifications" ng-show="modify" ng-click="addModifiedProject()"></i>
                      <i id="abort" class="fa fa-times" title="discard changes" ng-click="abort()"></i>
                    </div>
                  </td>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="project in projects | orderBy:'$index':true">
                  <td ng-attr-title="{{project.name}}">{{project.name}}</td>
                  <td ng-attr-title="{{project.templateName}}">{{project.templateName}}</td>
                  <td ng-attr-title="{{project.description}}">{{project.description}}</td>
                  <td>
                    <div class="project-menu-options">
                      <i class="fa fa-clone icon active" title="clone" ng-click="cloneProject(project)"></i>
                      <i class="fa fa-edit icon active" title="modify" ng-click="modifyProject(project)"></i>
                      <i class="fa fa-trash-o icon active" title="delete" ng-click="Delete(project)" data-toggle="modal" data-target="#myDelModal"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <label ng-show="alertmessage">
              <strong>error: this project already exists!</strong>
            </label>
            <label ng-show="incompletemessage">
              <strong>error: enter project name and template name</strong>
            </label>

          </div>
        </li>

        <li>
          <a id="sessionTitle">
            <i class="fa fa-file-text icon active"></i>
            <label>session</label>
          </a>
          <ul class="session-menu">
            <li>
              <select ng-model="currProject" ng-options="project.name for project in projects" placeholder="choose project">
                <option value="" disabled selected hidden>choose project</option>
              </select>
            </li>

            <li>
              <select ng-model="currSession">
                <option value="" disabled selected hidden>choose session</option>
                <option value="RECON">Reconnaissance</option>
                <option value="SEARCH">Search</option>
              </select>
            </li>

            <li>
              <select ng-model="currDuration">
                <option value="" disabled selected hidden>choose duration</option>
                <option value="45">45 Minutes</option>
                <option value="60">60 Minutes</option>
                <option value="90">90 Minutes</option>
              </select>
            </li>
            <li>
              <button ng-click="startSession()" data-dismiss="modal">start</button>
            </li>
          </ul>
        </li>

        <li>
          <a data-dismiss="modal" ng-click="logout()">
            <i class="fa fa-sign-out icon active"></i>
            <label>logout</label>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>
</div>
</div>

<div class="modal fade" id="myDelModal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to Delete ?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="deleteProject()" class="btn btn-danger" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>