<div class="wrapper-main">
  <header class="header-main">
    <nav class="nav-bar">
      <div>
        <div id="menuToggle">
          <input type="checkbox" id="hamburgerCheckBox" />
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div>
        <img class="user-image" src="./public/images/prfl-img.png" alt="User Image">
      </div>
      <div>
        <span>{{userName}}</span>
      </div>
      <div>
        <h4 class="project-name">(Project Name)</h4>
      </div>
      <div>

      </div>
      <div>
        <i id="sessionTimer" class="fa fa-hourglass-start icon" ng-attr-title="{{timer.sessionTime}}" aria-hidden="true"></i>
      </div>
      <div>
        <i class="fa fa-database icon" aria-hidden="true"></i>
        <i class="fa fa-user user-icon icon" aria-hidden="true"></i>
      </div>
      <div>
        <i class="fa fa-database icon" aria-hidden="true"></i>
        <i class="fa fa-globe globe-icon icon" aria-hidden="true"></i>
      </div>
      <div>
        <img class="stag-logo" src="./public/images/stag_logo_transparent.png" alt="logo">
      </div>
    </nav>
  </header>

  <section ng-show="isProjectOpen" class="workspace-main">
    <div id="note"></div>
    <div id="container"></div>
  </section>

  <footer ng-show="isProjectOpen" class="footer-main">
    <div class="jottings-dropup dropup col-md-4">

      <div class="jottings-dropup-header">
        <span>Jottings</span>
        <span class="up-icon fa fa-angle-up"></span>
      </div>

      <div class="footer-menu dropdown-menu col-md-12">

        <div class="jottings-dropdown-header dropdown-header">
          <span>Jottings</span>
          <span class="down-icon fa fa-angle-down"></span>
        </div>

        <div class="footer-menu-content">
          <form ng-submit="addJotting()">
            <input type="text" ng-model="jotting" placeholder="insert text here">
          </form>

          <ul>
            <li ng-repeat="jotting in project.jottings track by $index">
              <span>{{jotting}}</span>
            </li>
          </ul>
        </div>

      </div>

    </div>

    <div class="notes-dropup dropup col-md-4">

      <div class="notes-dropup-header">
        <span>Notes</span>
        <span class="up-icon fa fa-angle-up"></span>
      </div>

      <div class="footer-menu dropdown-menu col-md-12">

        <div class="notes-dropdown-header dropdown-header">
          <span>Notes</span>
          <span class="down-icon fa fa-angle-down"></span>
        </div>

        <div class="footer-menu-content">
          <form ng-submit="addNote()">
            <input type="text" ng-model="note" placeholder="insert text here">
          </form>

          <ol>
            <li ng-repeat="note in project.notes track by $index">
              <span>{{note}}</span>
            </li>
          </ol>
        </div>

      </div>

    </div>

    <div class="questions-dropup dropup col-md-4">

      <div class="questions-dropup-header">
        <span>Questions</span>
        <span class="up-icon fa fa-angle-up"></span>
      </div>

      <div class="footer-menu dropdown-menu col-md-12">

        <div class="questions-dropdown-header dropdown-header">
          <span>Questions</span>
          <span class="down-icon fa fa-angle-down"></span>
        </div>

        <div class="footer-menu-content">
          <form ng-submit="addQuestion()">
            <input type="text" ng-model="question.text" placeholder="insert text here">
          </form>

          <ol>
            <li ng-repeat="question in project.questions track by $index">
              <span class="is-checked-{{question.isChecked}}">{{question.text}}</span>
              <input type="checkbox" ng-model="question.isChecked">
            </li>
          </ol>
        </div>

      </div>

    </div>
  </footer>

  <div class="modal left fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <span class="sidenav">

        <ul class="nav nav-menu">
          <li class="dropdown-submenu first-level">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-pencil-square padding-15" aria-hidden="true"></i>Project
            </a>
            <div class="dropdown-menu secondlevel">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>
                          <div class="form-group firstrow">
                            <input type="text" ng-model="selectedProjectInProjectsMenu.name" class="form-control input-text" placeholder="Enter Project Name"
                              id="pname">
                          </div>
                        </th>
                        <th>
                          <div class="form-group firstrow">
                            <select id="tempname" ng-model="selectedProjectInProjectsMenu.templateName" ng-options="template for template  in tempName">{{template.name}}
                              <option disabled value="">Choose Template</option>
                            </select>
                          </div>
                        </th>
                        <th>
                          <div class="form-group firstrow description ">
                            <input type="text" class="form-control input-text" ng-model="selectedProjectInProjectsMenu.description" placeholder="Enter Description"
                              id="pdes">
                          </div>
                        </th>
                        <td>
                          <div class="col-sm-6">
                            <button id="add" ng-hide="add" class="btn btn-default size " ng-click="addNewProject()">
                              <span class="fa fa-plus"></span>
                            </button>
                            <button id="save" ng-show="clone" class="btn btn-default size " ng-click="addClonedProject()">
                              <span class=" fa fa-plus"></span>
                            </button>
                            <button id="mod" ng-show="modify" class="btn btn-default size " ng-click="addModifiedProject()">
                              <span class="fa fa-plus"></span>
                            </button>
                          </div>
                          <div class="col-sm-6">
                            <button id="abort" class="btn btn-default size " ng-click="abort()">
                              <span class="fa fa-times-circle-o"></span>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </thead>

                    <tbody>
                      <tr ng-repeat="project in projects | orderBy:'$index':true">
                        <td class="tooltips">{{project.name}}</td>
                        <td>{{project.templateName}}</td>
                        <td id="desc" class="tooltips" ng-attr-title="{{project.description}}">{{project.description}}</td>
                        <td>
                          <button class="btn btn-default size" data-toggle="tooltip" data-placement="top" title="Clone" ng-click="cloneProject(project)">
                            <span class="fa fa-clone"></span>
                          </button>
                          <button class="btn btn-default size" data-toggle="tooltip" data-placement="top" title="Modify" ng-click="modifyProject(project)">
                            <span class="fa fa-pencil"></span>
                          </button>
                          <button class="btn btn-default size" data-toggle="modal" data-toggle="tooltip" ng-click="Delete(project)" data-target="#myDelModal">
                            <span class="fa fa-trash-o"></span>
                          </button>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </li>

          <li class="dropdown-submenu first-level">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-file-text padding-15" aria-hidden="true"></i>Sessions
            </a>
            <ul class="sessions-menu dropdown-menu">
              <li>
                <label>Project</label>
                <select ng-model="selectedProject" ng-options="project.name for project in projects"></select>
              </li>

              <li>
                <label>Session</label>
                <select ng-model="selectedSession">
                  <option value="RECON">Reconnaissance</option>
                  <option value="SEARCH">Search</option>
                </select>
              </li>

              <li>
                <label>Duration</label>
                <select ng-model="selectedDuration">
                  <option value="45">45 Minutes</option>
                  <option value="60">60 Minutes</option>
                  <option value="90">90 Minutes</option>
                </select>
              </li>
              <li>
                <label></label>
                <button ng-click="startSession()" data-dismiss="modal">Start</button>
                <button>Cancel</button>
              </li>
            </ul>
          </li>

          <li id="logout" class="dropdown-submenu first-level">
            <a href="/" data-dismiss="modal" class="dropdown-toggle" ng-click="logout()" data-toggle="dropdown">
              <i class="fa fa-sign-out padding-15" aria-hidden="true"></i>Logout
            </a>
        </ul>
      </span>
    </div>
  </div>
</div>
</div>
</div>

<div class="modal fade" id="myDelModal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to Delete ?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="deleteProject()" class="btn btn-danger" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>