body {
    font-family: Roboto, sans-serif;
    background: #e9ecef;
    color: #5f5f5f;
    font-weight: lighter;
    font-size: 14px;
    overflow: hidden;
}

a {
    color: #52565d;
}

.wrapper-main {
    display: block;
    width: 100%;
}

ul.dropdown-menu.grp-sblink li a:hover {
    color: #fff!important;
    background: #eb807b;
}

.edit-menu::after {
    width: 0;
    position: absolute;
    margin-left: -30px;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #f5f5f5;
    border-width: 10px;
    bottom: -13px;
}

.header-main .nav>li>a:focus, .header-main .nav>li>a:hover {
    text-decoration: none;
    background: 0 0;
    color: #a4a6aa;
}

.scroll-y {
    overflow-y: scroll;
}

@media only screen and (max-width:1024px) {
    .right-col {
        height: 69vh;
    }
    button.btn {
        float: left;
        padding: 6px 8px;
        font-size: 12px;
    }
    img.tble-fltr-icn {
        display: none;
    }
}

/* login */

.login {
    height: 92.2vh;
    background: url(../images/Login-page-bg.png);
    background-size: 100% 100%;
}

.loginwrapp {
    background: #fff;
    position: absolute;
    right: 150px;
    top: 200px;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0 0 20px #333;
}

.color-red {
    color: #eb807b;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.text-danger {
    text-align: center;
}

.collapsible-item .title {
    background-image: none !important;
    background-color: #eee !important;
    border: 1px solid #ddd !important;
    padding: 7px 10px !important;
}

.bg-primary {
    /* color:white; */
    background-color: #D3D3D3;
}

.status {
    color: #eb807b;
}

.tablesroll-left {
    height: 21.5vh;
    overflow-y: auto;
    padding-bottom: 10px;
}

.right-col {
    height: 75vh;
    overflow-y: auto;
    padding-bottom: 15px;
}

/* auto complete css */

div.auto-complete-container ul.auto-complete-results {
    height: auto !important;
}

/* The Close Button */

.close {
    color: #222;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a, a label {
    cursor: pointer;
}

.dropleft {
    position: relative;
}