.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.jottings-dropup, .notes-dropup, .questions-dropup {
  background-color: black;
  color: white;
  border-right: 1px solid grey;
  height: 30px;
  line-height: 24px;
  opacity: 0.8;
}

.jottings-dropup:hover, .notes-dropup:hover, .questions-dropup:hover {
  opacity: 1;
}

.jottings-up, .notes-up, .questions-up {
  font-family: Verdana;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
}

.up-icon, .down-icon {
  font-size: 20px;
}

.footer-menu.dropdown-menu {
  background-color: #ffffcc;
  padding: 0;
  margin: 0;
  height: 300px;
}

.jottings-dropdown-header.dropdown-header, .notes-dropdown-header.dropdown-header, .questions-dropdown-header.dropdown-header {
  background-color: black;
  color: white;
  text-align: left;
  font-family: Verdana;
  cursor: pointer;
  font-size: 12px;
  height: 10%;
}

.footer-menu-content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90%;
}

.footer-menu-content>form {
  color: black;
  padding: 10px;
}

.footer-menu-content>form>input[type="text"] {
  font-family: Verdana;
  width: 100%;
  padding: 0 5px;
}

.footer-menu-content>ul {
  color: black;
  word-wrap: break-word;
  padding: 0px 10px;
}

.footer-menu-content>ol {
  color: black;
  word-wrap: break-word;
  padding: 0px 30px;
}

.footer-menu-content ol>li {
  list-style-type: decimal;
}

.footer-menu-content ul>li {
  word-wrap: break-word;
  list-style-type: none;
}

.is-checked-true {
  text-decoration: line-through;
  color: grey;
}