.jottings-dropup, .notes-dropup, .questions-dropup {
  padding: 0;
  border-right: 1px solid grey;
  opacity: 1;
}

.jottings-dropup-header, .notes-dropup-header, .questions-dropup-header, .jottings-dropdown-header, .notes-dropdown-header, .questions-dropdown-header {
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.up-icon, .down-icon {
  font-size: 16px;
  line-height: 30px;
  float: right;
}

.footer-menu {
  background-color: #ffffcc;
  padding: 0 !important;
  margin: 0 !important;
  height: 300px;
}

.footer-menu-content {
  overflow-y: scroll;
  height: calc(100% - 30px);
}

.footer-menu-content>form {
  padding: 10px;
}

.footer-menu-content>form>input[type="text"] {
  width: 100%;
  height: 30px;
  padding: 0 5px;
}

.footer-menu-content>div {
  padding: 0 10px;
}

.footer-menu-content span {
  word-break: break-all;
}

.is-checked-true {
  text-decoration: line-through;
  color: grey;
}