
.jottings-dropup, .notes-dropup, .questions-dropup {
  padding: 0;
  height: 30px;
  line-height: 30px;
  font-family: Verdana;
  background-color: black;
  color: white;
  border-right: 1px solid grey;
  opacity: 0.8;
}

.jottings-dropup:hover, .notes-dropup:hover, .questions-dropup:hover {
  opacity: 1;
}

.jottings-dropup-header, .notes-dropup-header, .questions-dropup-header {
  padding: 0 10px;
  font-size: 14px;
  cursor: pointer;
}

.up-icon, .down-icon {
  font-size: 20px;
}

.footer-menu.dropdown-menu {
  background-color: #ffffcc;
  padding: 0;
  margin: 0;
  height: 300px;
}

.jottings-dropdown-header.dropdown-header, .notes-dropdown-header.dropdown-header, .questions-dropdown-header.dropdown-header {
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 14px; 
}

.footer-menu-content {
  overflow-y: scroll;
  height: calc(100% - 30px);
}

.footer-menu-content>form {
  color: black;
  padding: 10px;
}

.footer-menu-content>form>input[type="text"] {
  width: 100%;
  padding: 0 5px;
}

.footer-menu-content>ul {
  color: black;
  word-wrap: break-word;
  padding: 0px 10px;
}

.footer-menu-content>ol {
  color: black;
  word-wrap: break-word;
  padding: 0px 30px;
}

.footer-menu-content ol>li {
  list-style-type: decimal;
}

.footer-menu-content ul>li {
  word-wrap: break-word;
  list-style-type: none;
}

.is-checked-true {
  text-decoration: line-through;
  color: grey;
}