.nav-bar {
    display: grid;
    grid-template-columns: 25px 40px 50px 150px auto 50px 40px 40px 60px;
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
}

.main-menu>li>a:focus, .main-menu>li>a:hover {
    background-color: #eb807b !important;
}

.main-menu>li>a {
    color: black;
    transition: 0.5s;
}

.main-menu>li>a:hover {
    color: #f1f1f1;
}

.main-menu>li>a>label {
    padding: 0 10px;
    margin: 0;
}

.main-menu .dropdown-submenu:hover, .main-menu .dropdown-submenu>li>a:focus {
    background-color: #eb807b !important;
}

.main-menu .dropdown-submenu {
    width: 150px;
    min-width: 150px !important;
    border-bottom: 1px solid lightgrey;
    background-color: antiquewhite;
}

.user-image {
    width: 35px;
    height: 35px;
}

.icon {
    font-size: 16px !important;
    color: #b1b2b4;
    cursor: pointer;
}

.icon.active {
    color: #333;
}

.user-icon, .globe-icon {
    position: relative;
    top: -12px;
    left: -12px;
    background-color: antiquewhite;
    padding: 2px 3px;
    border-radius: 50%;
    font-size: 12px!important;
}

.stag-logo {
    width: 45px;
    height: 45px;
}

.project-menu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 600px;
    padding: 10px;
    margin: 0px;
    border: 1px solid black;
    border-radius: 0px !important;
    background-color: antiquewhite;
    display: none;
}

.project-menu table thead, .project-menu table tbody {
    display: block;
}

.project-menu table thead th, .project-menu table tbody td {
    width: 27.5%;
}

.project-menu table thead th:last-child, .project-menu table tbody td:last-child {
    width: 17.5%;
}

.project-menu table thead th input, .project-menu table thead th select {
    width: 100%;
    height: 29px;
    border-radius: 0px;
    padding: 0px 5px;
}

.project-menu table tbody tr td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.session-menu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    padding: 10px;
    margin: 0px;
    border: 1px solid black;
    border-radius: 0px !important;
    background-color: antiquewhite;
    display: none;
}

.session-menu>li {
    margin: 10px 0;
    list-style-type: none;
}

.session-menu>li>select {
    width: 90%;
    margin: 0 5%;
    padding: 5px;
    background-color: #e2e2e2;
    border: none;
    height: 30px;
}

.session-menu>li>button {
    width: 90%;
    margin: 0 5%;
    background-color: #eb807b;
    border: none;
    padding: 5px;
}

.project-menu.show, .session-menu.show {
    display: block;
}

.project-menu-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 5px;
}

#menuToggle input[type="checkbox"] {
    position: absolute;
    display: block;
    margin: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 4px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, -2px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(1) {
    transform: rotate(-45deg) translate(0, -1px);
}

.modal.left.fade .modal-dialog {
    top: 55px;
    left: -200px;
    margin: 0;
    transition: opacity 0.5s linear, left 0.5s ease-out;
}

.modal.left.fade.in .modal-dialog {
    top: 55px;
    left: 0;
    margin: 0;
}