header.header-main {
    max-height: 55px !important;
    height: 55px;
    display: block;
    padding: 5px 15px;
    background-color: antiquewhite;
    border-bottom: solid 1px #e4e5e6a8;
}

section.workspace-main {
    max-height: calc(100vh - 85px) !important;
    height: calc(100vh - 85px);
}

footer.footer-main {
    max-height: 30px !important;
    height: 30px;
}

#note {
    width: 500px;
    max-height: calc(100% - 100px);
    background: #ccc;
    position: absolute;
    top: 300px;
    left: 300px;
    z-index: 100;
    display: none;
}

#container {
    height: 100%;
}