.size {
    padding: 0px 2px;
    margin: 2px;
    display: inline-block;
    background-color: lightorange;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0px;
}

option[value=""][disabled] {
    display: none;
}

.tooltips {
    position: relative;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

tbody {
    height: 120px;
    max-height: 120px;
    overflow-y: scroll;
    color: grey;
}

thead {
    width: calc( 100% - 1em);
    color: black;
}

tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}