body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.modal-left {
    margin-left: 0px !important;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: -30px;
    z-index: 1;
    opacity: 1;
    background-color: #ffffff !important;
    left: -30px;
    padding: 5px 15px 10px 15px;
    margin-top: 0px;
    font-size: 40px;
}

.sidenav .closebtn:hover {
    background-color: #eb807b !important;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.dropdown-submenu {
    position: auto;
    background-color: white;
    margin-left: 0px;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 0px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    border-bottom: 1px solid black;
}

.nav-menu>li>a:focus, .nav-menu>li>a:hover {
    background-color: #eb807b !important;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: transparent;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: transparent;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.bg-white {
    background-color: white !important;
    z-index: 1;
}

.footer-button {
    width: 100%;
    color: #fdfdfd;
    border: none;
    border-radius: 0px !important;
}

.footer-button:hover, .footer-button:focus {
    color: #fdfdfd;
}

.footer-popup {
    overflow-y: auto;
    min-height: 200px;
}

.footer-popup>ul>li {
    list-style: none;
}

.jottingsColor {
    /* background-color: #6c6c6c; */
    background-color: #000;
}

.notesColor {
    /* background-color: #5b5b5b; */
    background-color: #000;
}

.clickableAwesomeFont {
    cursor: pointer !important;
}

.questionColor {
    /* background-color: #454545; */
    background-color: #000;
}

.dropUp-box {
    width: 100%;
    background-color: #F4FD33;
    margin-bottom: -35px !important;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
    border-color: #a2927d;
}

.color-none {
    color: 'red';
}

.footer-text>input {
    border: none;
    /* width: 100%; */
    background-color: #F4FD33;
}

.footer-text>input:focus {
    outline: none;
}



.secondlevel {
    width: 250px;
    padding: 10px;
    border-radius: 0px !important;
    font-size: 15px;
}

.thirdlevel {
    width: 250px;
    padding: 10px;
    border-radius: 0px !important;
    font-size: 15px;
    margin-left: 400px;
}

.menu-text {
    background-color: #e2e2e2;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    height: 30px;
}

.menu-text:focus {
    outline: none;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.padding-15 {
    padding-right: 15px;
}

.camera-style {
    background-color: white;
    padding: 5px;
    margin-left: -45px;
    border-radius: 50px;
}

.dropdown-menu>.secondMenu {
    font-size: 18px;
}

.dropdown-menu>.secondMenu>select {
    width: 150px;
}

.buttonSecondLevel {
    background-color: #eb807b;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.navbar-right>li {
    margin-right: 15px;
}

.imageStyle {
    position: relative;
    padding: 10px 15px;
}

.nav-button {
    cursor: pointer !important;
    font-size: 30px;
    margin-top: 15px;
    padding: 0px 0px 0px 0px;
}

.textProject {
    margin-left: -70px;
    width: 170px;
    padding: 10px;
    margin-top: -5px;
    margin-bottom: -15px;
}

.modal-content {
    /* background-color: #fefefe; */
    margin: auto;
    /* padding-top: 12px; */
    /* padding-bottom: 18px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* box-sizing: border-box; */
    border: 1px solid #aaa;
    margin-top: 15%;
    width: 25%;
    /* min-width: 380px; */
    text-align: center;
}

.project>ul>li>a>input:hover {
    background-color: #eb807b;
    border: none;
}

.modal-content {
    border: none !important;
}