.modal-left {
    margin-left: 0px !important;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.dropdown-submenu {
    position: auto;
    background-color: white;
    margin-left: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    border-bottom: 1px solid black;
}

.bg-white {
    background-color: white !important;
    z-index: 1;
}

.modal-content {
    /* background-color: #fefefe; */
    margin: auto;
    /* padding-top: 12px; */
    /* padding-bottom: 18px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* box-sizing: border-box; */
    border: 1px solid #aaa;
    margin-top: 15%;
    width: 25%;
    /* min-width: 380px; */
    text-align: center;
}

.modal-content {
    border: none !important;
}