.modal-left {
    margin-left: 0px !important;
}

.modal-content {
    /* background-color: #fefefe; */
    margin: auto;
    /* padding-top: 12px; */
    /* padding-bottom: 18px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* box-sizing: border-box; */
    border: 1px solid #aaa;
    margin-top: 15%;
    width: 25%;
    /* min-width: 380px; */
    text-align: center;
}

.modal-content {
    border: none !important;
}